div{
  width: 400px;
  height: 200px;
  /* border-radius: 80%; */
  /* background-image: url("puppy.jpeg"); */
  background-color: blue;
  border: 10px dashed red;
  margin: 20px auto;
}
.second_div{
  box-sizing: border-box;
}
